<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Civic Issue System{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <span class="navbar-brand">Civic Issue Reporting System</span>

        {% if user.is_authenticated %}
            <a href="/logout/" class="btn btn-sm btn-danger">Logout</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
